@font-face {
  font-family: lobster;
  src: url("Lobster_1.3.otf");
}
@font-face {
  font-family: san;
  src: url("Technique+Sans.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}
.navbar {
  padding: 0.5em;
}
.container {
  padding-top: 5em;
  height: 90vh;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
}
.landing h1 {
  font-family: lobster;
  letter-spacing: 8px;
  font-weight: 200;
  font-size: 4em;
}
.landing p {
  font-family: san;
  padding: 2em 0;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: oblique;
}
