<!DOCTYPE html>
<html lang="en-in">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Website Audit</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link rel="stylesheet" href="{% static '/css/input-bar.css' %}" />
    <link rel="stylesheet" href="{% static '/css/index.css' %}" />
    <link rel="stylesheet" href="{% static '/css/result.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link
      href="//fonts.googleapis.com/css?family=Roboto:100,400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    {% if data %}
    <div class="quiz-window">
      <div class="quiz-window-header">
        <div class="quiz-window-title">
          <h3>
            {{ link }} <br />
            Website Score is 56&#47;100
          </h3>
        </div>
      </div>
      <div class="quiz-window-body">
        <div class="gui-window-awards">
          <ul class="guiz-awards-row guiz-awards-header">
            <li class="guiz-awards-header-title">PARAMETER</li>
            <li class="guiz-awards-header-track">SCORE</li>
            <li class="guiz-awards-header-time">PRIORITY</li>
          </ul>
          {% for i, j in data.items %}
          <ul class="guiz-awards-row guiz-awards-row-even">
            <li class="guiz-awards-title">
              {{i}}
              <div class="guiz-awards-subtitle">{{j}}</div>
            </li>
            <li class="guiz-awards-track">8</li>
            <li class="guiz-awards-time">10</li>
          </ul>
          {% endfor %}
        </div>
        <div class="guiz-awards-buttons">
          <a href="/">Back</a>
        </div>
      </div>
    </div>

    {% else %}
    <div class="container">
      <div class="landing">
        <h1>Website audit tool</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
          debitis tenetur. Ea cupiditate voluptatum eos quasi dolore distinctio
          aspernatur consequatur atque quisquam.
        </p>
      </div>
      <div class="post-form">
        <form method="POST" action="/result" class="search-bar">
          {% csrf_token %}
          <input type="url" name="link" required />
          <button class="search-btn" type="submit">
            <span>Audit</span>
          </button>
        </form>
      </div>
    </div>
    {% endif %}
  </body>
</html>
